.hero
  position: relative
  background-color: #812891

  &__top
    position: relative
    padding-top: 100px
    background: url("../img/pink-bg.png") repeat-y
    background-size: contain
    z-index: 4

    +r($tab)
      padding-top: 60px

    +r($tab-sm)
      padding-top: 0

    +r($mob)
      .container
        padding: 0

  &__bottom
    &:before
      content: ''
      position: absolute
      left: 50%
      transform: translateX(-50%)
      bottom: 0
      height: 200px
      width: 1400px
      background-color: black
      box-shadow: 0 0 30px 30px #000
      opacity: 0.42
      border-radius: 490px/200px
      z-index: 1
      +r($mob)
        content: none

  &__bottom-inner
    position: relative
    z-index: 2
    background-color: #812891

  &__body
    display: flex
    flex-flow: row wrap
    max-width: 760px
    width: 100%
    padding-top: 70px
    margin-left: auto

    +r($tab)
      max-width: 670px
      &_mod
        margin: 0 auto 60px

    +r($tab-sm)
      max-width: 430px
      padding-top: 50px

    +r($mob)
      background-color: #812891
      padding: 140px 15px 0

    &_mod
      padding-top: 50px
      margin-bottom: 60px
      +r($mob)
        padding: 0 15px


  &__title-wrap
    margin-bottom: 50px
    padding-left: 45px
    +r($tab)
      padding-left: 0

  &__title
    font-size: 48px
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25)
    color: white
    line-height: 1
    +mb

    +r($tab-sm)
      margin-bottom: 15px
      font-size: 42px

    +r($mob)
      text-align: center

  &__subtitle
    font-size: 24px
    color: #fff
    span
      +mb

    +r($tab-sm)
      font-size: 20px

    +r($mob)
      text-align: center

  &__features
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    margin-bottom: 40px
    font-size: 0
    width: 100%

    +r($tab)
      flex-flow: row wrap

  &__features-item
    display: inline-block
    margin-bottom: 20px
    flex: 1 0 auto

    &:not(:last-child)
      margin-right: 5px

    +r($mob)
      &:last-child
        display: none

.hero-main-img
  position: absolute
  top: 0
  background: url("../img/hero-img.png") no-repeat
  background-size: contain
  width: 375px
  height: 467px

  +r($tab)
    background-image: url("../img/hero-img2.png")
    top: 60px
    max-width: 270px
    height: 350px
    
  +r($mob)
    position: relative
    top: 20px
    margin: 0 auto -100px
    background-image: url("../img/hero-img.png")


  img
    max-width: 100%
    height: auto

.mob-phone
  display: none
  margin-top: 30px
  text-decoration: none
  color: #fff
  +mr

  +r($mob)
    display: block