<header class="header js-header">
    <div class="container">
        <div class="header__inner">
            <div class="header-logo">
                <a href="">
                    <img src="img/logo.png" alt="">
                </a>
            </div>

            <nav class="menu-list">
                <li class="menu-list__item is-active"><a href="" class="menu-list__link">Ремонт смартфонов</a></li>
                <li class="menu-list__item"><a href="" class="menu-list__link">Отправить заявку</a></li>
                <li class="menu-list__item"><a href="" class="menu-list__link">Контакты</a></li>
                <li class="menu-list__item"><a href="" class="menu-list__link">Цены</a></li>
                <li class="menu-list__item"><a href="" class="menu-list__link">Задать вопрос</a></li>
                <li class="menu-list__item"><a href="" class="menu-list__link">Отзывы</a></li>
            </nav>
        </div>
    </div>
</header>