<section class="section section_no_pad">
    <div class="hero">

        <div class="hero__top">
            <div class="container">
                <div class="hero-main-img">
                    <!--<img src="./img/hero-img.png" alt="">-->
                </div>

                <div class="hero__body">
                    <div class="hero__title-wrap">
                        <div class="hero__title">Сломался любимый гаджет? <a class="mob-phone" href="tel:+380961500500">096 1 500 500</a></div>
                        <div class="hero__subtitle">В Смартс его <span>реанимируют быстро и качественно!</span></div>
                    </div>

                    <div class="hero__features">
                        <div class="hero__features-item">
                            <div class="s-card">
                                <div class="s-card__img sp-settings"></div>
                                <div class="s-card__body">
                                    <div class="s-card__title">Экспресс-ремонт</div>
                                    <div class="s-card__descr">до 45 минут</div>
                                </div>
                            </div>
                        </div>
                        <div class="hero__features-item">
                            <div class="s-card">
                                <div class="s-card__img sp-parts"></div>
                                <div class="s-card__body">
                                    <div class="s-card__title">Рассрочка <span>на ремонт</span></div>
                                    <div class="s-card__descr">до 4 платежей 0%</div>
                                </div>
                            </div>
                        </div>
                        <div class="hero__features-item">
                            <div class="s-card">
                                <div class="s-card__img sp-hardware"></div>
                                <div class="s-card__body">
                                    <div class="s-card__title">Оригинальные детали</div>
                                    <div class="s-card__descr">сертифицированные производителями</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero__bottom">

            <div class="hero__bottom-inner">

                <div class="container">

                    <div class="hero__body hero__body_mod">
                        <div class="callback">
                            <div class="callback__btns">
                                <button class="callback__btn callback__btn-primary callback__btn_green"><span>Отправить заявку</span></button>
                                <span class="callback__btns-divider">или</span>
                                <button class="callback__btn callback__btn-link"><span>Заказать звонок</span></button>
                            </div>
                        </div>
                    </div>

                    <div class="brands">
                        <div class="brands__title">Бренды с которыми мы работаем:</div>

                        <ul class="brands__list">
                            <li class="apple"><img src="./img/brands/apple.png" alt=""></li>
                            <li><img src="./img/brands/samsung.png" alt=""></li>
                            <li><img src="./img/brands/honor.png" alt=""></li>
                            <li><img src="./img/brands/meizu.png" alt=""></li>
                            <li class="mi"><img src="./img/brands/xiaomi.png" alt=""></li>
                            <li class="zte"><img src="./img/brands/zte.png" alt=""></li>
                            <li><img src="./img/brands/lenovo.png" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>