<div class="promo">
    <div class="container">
        <div class="promo__body">
            <div class="promo-discount">
                <div class="promo-discount__title">Получай скидку</div>
                <div class="promo-discount__sum">100 гривен </div>
                <div class="promo-discount__text">на первый ремонт в Смартс!</div>
            </div>

            <div class="promo-img"><img src="img/promo-img.png" alt=""></div>

            <div class="promo-form-wrap">
                <form class="promo-form">
                    <div class="promo-form__field">
                        <input type="text" class="promo-form__input" placeholder="Ваше имя"></div>
                    <div class="promo-form__field">
                        <input type="number" class="promo-form__input" placeholder="Ваш телефон"></div>
                    <div class="promo-form__field promo-form__field_submit">
                        <button type="submit" class="promo-form__submit">Получить скидку</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>