<section class="section section_no_pad section_diagnostic">
    <div class="section__top">

        <div class="section__top-inner">
            <div class="container">

                <div class="section-abstract-img section-abstract-img_diagnostic">
                    <img src="./img/diagnostic.png" alt="">
                </div>

                <div class="section__body">
                    <div class="title-h2 title-h2_left title-h2_white">Бесплатная диагностика</div>
                    <div class="section__text">Вы не заплатите за диагностику если будете производить ремонт своего гаджета у нас!</div>

                    <div class="callback callback_left">
                        <div class="callback__btns">
                            <button class="callback__btn callback__btn-primary"><span>Оставьте заявку</span></button>
                            <span class="callback__btns-divider">или</span>
                            <button class="callback__btn callback__btn-link"><span>Закажите звонок</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>