<section class="section section_no_pad section_help">
    <div class="section__top">

        <div class="section__top-inner">
            <div class="container">

                <div class="title-h2 title-h2_bold">Получите консультацию</div>
                <div class="section-subtitle">менеджера сервисного центра прямо сейчас!</div>

                <div class="form-wrap form-wrap_bg">

                    <div class="form-wrap__col">
                        <form class="form form_feedback">
                            <div class="form__field">
                                <input type="text" class="form__input" placeholder="Ваше имя"></div>
                            <div class="form__field">
                                <input type="text" class="form__input" placeholder="Ваш телефон"></div>
                            <div class="form__field form__field_submit">
                                <button type="submit" class="form__submit">ОК</button>
                            </div>
                        </form>
                    </div>
                    <div class="form-wrap__col">
                        <div class="section__text">Операторы работают ежедневно с 10:00 до 20:00 и свяжутся с Вами незамедлительно в рабочее время !</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>