<section class="section section_paid">
    <div class="container">

        <div class="section__inner-flex">
            <div class="section-abstract-img section-abstract-img_paid">
                <img src="./img/paid.png" alt="">
            </div>

            <div class="section__body">
                <div class="title-h2 title-h2_left title-h2_white">Без каких-либо предоплат!</div>
                <div class="section__text">Выполняем ремонт Вашего гаджета совершенно безопасно, исключительно по согласованной с Вами стоимости!</div>

                <div class="callback callback_middle callback_left">
                    <div class="callback__btns">
                        <button class="callback__btn callback__btn-primary"><span>Оставьте заявку</span></button>
                        <span class="callback__btns-divider">или</span>
                        <button class="callback__btn callback__btn-link"><span>Закажите звонок</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>