<section class="info-block info-block_contacts">
    <div class="container">

        <div class="info-block__inner">

            <div class="title-h2 title-h2_left">Связь с нами</div>

            <div class="info-block__body">
                <div class="info-block__col">
                    <div class="info-block__item">
                        <div class="s-card s-card_big s-card_dark">
                            <div class="s-card__img">
                                <div class="sp-icon sp-phone_big"></div>
                            </div>
                            <div class="s-card__body">
                                <div class="s-card__title">Горячая линия “Смартс”</div>
                                <div class="s-card__descr">096 1 500 500 ( ежедневно с 10:00 до 20:00 )</div>
                            </div>
                        </div>
                    </div>

                    <div class="info-block__item">
                        <div class="s-card s-card_big s-card_dark">
                            <div class="s-card__img">
                                <div class="sp-icon sp-messages"></div>
                            </div>
                            <div class="s-card__body">
                                <div class="s-card__title">Задать вопрос в on-line чате</div>
                                <div class="s-card__descr">нажмите тут чтобы начать</div>
                            </div>
                        </div>
                    </div>

                    <div class="info-block__item">
                        <div class="s-card s-card_big s-card_dark">
                            <div class="s-card__img">
                                <div class="sp-icon sp-letter"></div>
                            </div>
                            <div class="s-card__body">
                                <div class="s-card__title">Напишите нам</div>
                                <div class="s-card__descr"><a href="mailto:info@smarts.ua">info@smarts.ua</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="info-block__col">
                    <div class="info-block__nav">
                        <a href="">Вернуться наверх</a>
                        <a href="">Адреса сервисных центров</a>
                        <a href="">Отправить заявку</a>
                        <a href="">Цены на улуги сервисного центра</a>
                        <a href="">Задать вопрос в online чат</a>
                        <a href="">Отзывы клиентов</a>
                    </div>
                </div>

                <div class="info-block__col">
                    <div class="info-block__socials">
                        <div class="socials">
                            <a href="" class="socials__link"><i class="sp-icon sp-social-fb"></i></a>
                            <a href="" class="socials__link"><i class="sp-icon sp-social-in"></i></a>
                            <a href="" class="socials__link"><i class="sp-icon sp-social-gmaps"></i></a>
                        </div>
                    </div>
                    
                    <div class="payment"><img src="./img/payments.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>