<div class="section section_no_pad">
    <div class="section__top">
        <div class="section__top-inner section__top-inner_green section__top-inner_pad_sm">
            <div class="container">
                <div class="title-h2 title-h2_sm title-h2_white">
                    Несколько фактов о сервисном центре Смартс
                </div>

                <div class="facts">
                    <div class="facts__item">
                        <div class="facts__img">
                            <div class="sp-icon sp-birthday"></div>
                        </div>
                        <div class="facts__title"><span class="text-bold">Более 5 лет опыта </span> <br>предоставления услуг по ремонту</div>
                    </div>
                    <div class="facts__item">
                        <div class="facts__img">
                            <div class="sp-icon sp-gears"></div>
                        </div>
                        <div class="facts__title"><span class="text-bold">Оригинальные комплектующие</span></div>
                    </div>
                    <div class="facts__item">
                        <div class="facts__img">
                            <div class="sp-icon sp-clock"></div>
                        </div>
                        <div class="facts__title"><span class="text-bold">75% ремонтов</span> <br>выполняем до 45 минут!</div>
                        <div class="facts__descr">Замена дисплейного модуля, замена АКБ, корпуса, при наличии запчастей или предварительной заявке</div>
                    </div>
                    <div class="facts__item">
                        <div class="facts__img">
                            <div class="sp-icon sp-terminal"></div>
                        </div>
                        <div class="facts__title"><span class="text-bold">Рассрочка на ремонт</span><br> 0% до 3 платежей!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>