<section class="section section_no_pad section_care">
    <div class="section__top">

        <div class="section__top-inner">
            <div class="container">

                <div class="section-abstract-img section-abstract-img_care">
                    <img src="./img/safety.png" alt="">
                </div>

                <div class="section__body">
                    <div class="title-h2 title-h2_left title-h2_white">Забота о каждом <br> клиенте!</div>
                    <div class="section__text">Мы не просто качественно отремонируем Ваш гаджет, но и удивим Вас <span class="text-bold">приятными сюрпризами</span>!
                        <span class="text-bold">Бонусами</span> и <span class="text-bold">подарками</span> к каждому Вашему обращению в сервисный центр Смартс.</div>

                    <div class="callback callback_left">
                        <div class="callback__btns">
                            <button class="callback__btn callback__btn-primary"><span>Отправить заявку</span></button>
                            <span class="callback__btns-divider">или</span>
                            <button class="callback__btn callback__btn-link"><span>Заказать звонок</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section__bottom">
        <div class="container">
            <div class="section-cols">

                <div class="section-col">
                    <div class="section-col__header">
                        <div class="section-col__img">
                            <div class="sp-icon sp-touch"></div>
                        </div>
                        <div class="section-col__title">При замене <br>
                            дисплейного модуля</div>
                    </div>
                    <div class="section-col__text">
                        Мы бесплатно установим для Вас защитное стекло, чтобы дисплей Вашего смартфона всегда был в безопасности!
                    </div>
                </div>

                <div class="section-col">
                    <div class="section-col__header">
                        <div class="section-col__img">
                            <div class="sp-icon sp-like"></div>
                        </div>
                        <div class="section-col__title">Гарантия на все виды <br>
                            ремонта в Смартс</div>
                    </div>
                    <div class="section-col__text">
                        Мы уверены в качестве наших услуг на солько, чо предоставим для Вас гарантию до 90 дней на все виды ремонта в Смартс, за исключением ремонта после попадания влаги.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>