<section class="section section_no_pad section_remont">
    <div class="section__top">

        <div class="section__top-inner">
            <div class="container">
                <div class="section__body section__body_sm">
                    <div class="title-h2 title-h2_left title-h2_white">Ремонт у лучших <br> мастеров!</div>
                    <div class="section__text"><span class="text-underline">Сертифицированные мастера</span> произведут ремонт Вашего смартфона качественно и быстро!</div>

                    <div class="callback callback_left hidden-mob">
                        <div class="callback__btns">
                            <button class="callback__btn callback__btn-primary"><span>Отправить заявку</span></button>
                            <span class="callback__btns-divider">или</span>
                            <button class="callback__btn callback__btn-link"><span>Заказать звонок</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-abstract-img section-abstract-img_remont"></div>

    <div class="section__bottom">
        <div class="container">
            <div class="section-cols">

                <div class="section-col">
                    <div class="section-col__header">
                        <div class="section-col__img">
                            <div class="sp-icon sp-diploma"></div>
                        </div>
                        <div class="section-col__title">Только сертифицированные <br>
                            мастера</div>
                    </div>
                    <div class="section-col__text section-col__text_dark">
                        Все мастера которые буду производить ремонт Вашего гаджета проходят обязательную
                        сертификацию в оффициальных сервисных центрах
                    </div>
                </div>

                <div class="section-col">
                    <div class="section-col__header">
                        <div class="section-col__img">
                            <div class="sp-icon sp-medal"></div>
                        </div>
                        <div class="section-col__title">Исключительно <br>
                            оригинальное оборудование</div>
                    </div>
                    <div class="section-col__text section-col__text_dark">
                        Ремонт смартфонов и планшетов  производится на оригинальном оборудовании
                        сертифицированном и рекомендованым производителями
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>