<section class="info-block">
    <div class="container">

        <div class="info-block__inner">

            <div class="title-h2">Нужна консультация?</div>
            <div class="section-subtitle">Задайте вопросы прямо сейчас!</div>

            <div class="info-block__body ask-help">
                <div class="info-block__item">
                    <div class="s-card s-card_big s-card_dark">
                        <div class="s-card__img sp-phone_big"></div>
                        <div class="s-card__body">
                            <div class="s-card__title">Закажите звонок менеджера</div>
                            <div class="s-card__descr">перезваниваем за 30 секунд!</div>
                        </div>
                    </div>
                </div>
                <div class="info-block__item">
                    <div class="s-card s-card_big s-card_dark">
                        <div class="s-card__img sp-messages"></div>
                        <div class="s-card__body">
                            <div class="s-card__title">Задать вопрос в on-line чате</div>
                            <div class="s-card__descr">оператор ответит в режиме чата</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>