<section class="section section_services">
    <div class="title-h2">Услуги сервиса</div>

    <div class="container">
        <div class="services">
            <div class="services__item">
                <div class="service">
                    <div class="service__label">от <br> <span>300</span> <br> гривен</div>
                    <div class="service__img">
                        <div class="sp-icon sp-iphone"></div>
                    </div>
                    <div class="service__title">Ремонт <br>
                        техники Apple </div>
                </div>
            </div>
            <div class="services__item">
                <div class="service">
                    <div class="service__label">от <br> <span>100</span> <br> гривен</div>
                    <div class="service__img">
                        <div class="sp-icon sp-android"></div>
                    </div>
                    <div class="service__title">Ремонт <br>
                        смартфонов</div>
                </div>
            </div>
            <div class="services__item">
                <div class="service">
                    <div class="service__label">от <br> <span>200</span> <br> гривен</div>
                    <div class="service__img">
                        <div class="sp-icon sp-tablet"></div>
                    </div>
                    <div class="service__title">Ремонт <br>
                        планшетов</div>
                </div>
            </div>
        </div>
    </div>
</section>