.brands
  +r($mob)
    padding-bottom: 50px

  &__title
    margin-bottom: 15px
    font-size: 24px
    color: #fff
    text-align: center

    +r($mob)
      display: none

  &__list
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: flex-end
    font-size: 0

    +r($tab)
      justify-content: center

    li
      display: inline-block
      margin-bottom: 35px
      &:not(:first-child)
        padding-bottom: 5px

      img
        max-width: 100%
        height: auto

      +r($tab)
        padding: 0 15px

      +r($mob)
        max-width: 70px
        padding: 0
        margin: 0 15px 15px

    .mi
      max-width: 30px
    .zte
      max-width: 40px
    .apple
      max-width: 25px