.form
  &__field
    &:not(:last-child)
      margin-bottom: 20px

    &_submit
      text-align: right

  &__input
    width: 100%
    padding: 14px 35px
    background-color: white
    border-radius: 28px
    color: #333333
    font-size: 24px
    line-height: 1

    +r($tab)
      padding: 10px 20px
    +r($mob)
      padding: 14px 35px

.form_promo

  +r($tab-sm)
    padding: 0 20px

  .form__input::placeholder
    color: darkgrey
    +r($tab)
      font-size: 20px

  .form__submit
    padding: 16px 35px
    background-color: #08f
    border-radius: 32px
    font-size: 24px
    color: #fff

    +r($tab)
      padding: 10px 20px
      font-size: 22px

.form_feedback
  .form__input::placeholder
    color: #003c36
  .form__submit
    padding: 8px 35px 9px
    background-color: #fff
    border-radius: 32px
    font-size: 24px
    color: #003c36

.form-wrap
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 1000px
  margin: 60px auto 0

  +r($tab)
    max-width: 900px

  +r($tab-sm)
    flex-flow: row wrap
    max-width: 430px
    margin: 60px auto 0

  +r($mob)
    display: block

  &_bg
    &:before
      content: ''
      position: absolute
      +s(support)
      top: 50%
      left: 48%
      transform: translate(-50%, -50%)
      z-index: -1

      +r($tab-sm)
        top: -70px
        left: 50%
        transform: translate(-50%, -50%) scale(0.8)

  &__col
    &:first-child
      flex: 0 0 430px

      +r($tab-sm)
        margin-bottom: 30px
      +r($mob)
        display: block

    &:last-child
      flex: 0 0 390px

      +r($tab-sm)
        .section__text
          margin: 0
      +r($mob)
        display: block

.form_popup
  max-width: 320px
  margin: 0 auto 40px

  .form__row
    position: relative

  .form__input
    padding: 11px 20px
    background-color: white
    border: 2px solid #e8e9ed
    border-radius: 5px
    font-size: 14px

    &[type="phone"]
      padding: 11px 100px 11px 20px

    &::placeholder
      font-size: 14px
      line-height: 1.2
      color: #9fa3a7

  .form__row
    margin-bottom: 10px

  .form__btn
    position: absolute
    right: 0
    top: -1px
    display: inline-block
    width: 94px
    height: 41px
    background-color: #8970b6
    border-radius: 0 5px 5px 0
    font-size: 10px
    text-transform: uppercase
    color: #FFF

.form_popup2
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  .form__field
    flex: 0 1 240px
    &:not(:last-child)
      margin-bottom: 10px

    +r($mob)
      flex: 1 1 auto
      max-width: 500px
      margin: 0 auto 15px

  .form__row
    position: relative
    flex: 0 1 240px
    &:not(:last-child)
      margin-bottom: 10px
    &_submit
      text-align: right
      button
        margin-top: 10px
    +r($mob)
      flex: 1 0 100%
      margin-bottom: 10px
      button
        margin-top: 0

  .form__input
    padding: 10px 20px
    font-size: 16px
    line-height: 1
    border-radius: 19px
    +r($mob)
      border: 2px solid #e8e9ed
      border-radius: 5px
      padding: 14px 20px
      &[type="phone"]
        padding: 14px 100px 14px 20px

  .form__btn
    padding: 10px 20px
    background-color: #08f
    border-radius: 19px
    font-size: 15px
    color: #fff
    +r($mob)
      position: absolute
      right: 0
      top: 0
      display: inline-block
      width: 94px
      height: 50px
      background-color: #8970b6
      border-radius: 0 5px 5px 0
      font-size: 10px
      text-transform: uppercase
