.info-block
  &_contacts

    .info-block__inner
      padding: 50px 60px 50px 90px

      +r($tab)
        padding: 50px 40px

      +r($tab-sm)
        padding: 50px 0

        .title-h2
          padding: 0 40px

    .info-block__body
      max-width: none

  &__inner
    padding: 80px 0
    background-color: #f6f6f6

  &__body
    display: flex
    justify-content: space-between
    max-width: 890px
    margin: 40px auto 0

    +r($tab)
      margin: 40px -10px 0

    +r($tab-sm)
      flex-flow: row wrap
      justify-content: center
      margin: 40px 0 0


  &__item
    margin-bottom: 30px

    +r($tab-sm)
      padding: 0 20px

  &__col
    display: flex
    flex-flow: row wrap
    align-items: center
    &:first-child
      flex: 0 1 45%
      +r($tab-sm)
        flex: 0 0 50%
        margin-bottom: 30px

    &:nth-child(2)
      flex: 0 1 30%
      padding: 0 10px
      +r($tab-sm)
        display: none

    &:nth-child(3)
      flex: 0 1 25%
      justify-content: flex-end

      +r($tab-sm)
        flex: 1 0 auto
        justify-content: center
        text-align: center

    +r($tab)
      padding: 0 15px

  &__nav
    a
      display: block
      text-decoration: none
      color: #333
      font-size: 18px
      line-height: 1
      margin-bottom: 15px
      &:hover
        text-decoration: underline

.socials
  display: flex
  align-items: flex-end

  +r($tab-sm)
    margin-bottom: 30px

  &__link
    display: inline-block
    transition: opacity .2s
    &:not(:last-child)
      margin-right: 10px

    &:hover
      opacity: 0.75

.payment
  +r($tab-sm)
    flex: 1 0 100%