.s-card
  display: flex
  flex-flow: row nowrap
  align-items: center
  vertical-align: top
  &_dark
    .s-card__title,
    .s-card__descr,
    .s-card__descr a
      color: #333

  &_big
    .s-card__title
      font-size: 24px
      +mb

    .s-card__descr
      font-size: 18px

  &__img
    //flex: 0 0 auto
    min-width: 52px
    text-align: center
    margin-right: 15px

  &__title
    white-space: nowrap
    font-size: 19px
    color: #fff

  &__descr
    font-size: 12px
    color: #fff

    a
      text-decoration: none
