.s-card
  display: flex
  flex-flow: row nowrap
  align-items: center
  vertical-align: top

  &__img
    flex: 0 0 55px
    text-align: center
    margin-right: 5px

  &__title
    white-space: nowrap
    font-size: 19px
    color: #fff

  &__descr
    font-size: 12px
    color: #fff

.sp-settings
  +s(settings)

.sp-parts
  +s(parts)

.sp-hardware
  +s(hardware)